/******************************
            HEADER
******************************/
img {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 15px;
    width: 150px;
    text-align: left;
    padding-left: 20px;
    margin-top: -1%;
}

img:hover {
    opacity: 0.7;
}

.example {
    margin-left: 13%;
    margin-top: -9.4%;
    margin-bottom: 3%;
}

form.example button {
    width: 5%;
    padding-top: 8px;
    padding-bottom: 12px;
    background: #2196F3;
    color: white;
    font-size: 9px;
    border: 1px solid grey;
    border-bottom: 1px solid black;
    border-left: none;
    cursor: pointer;
}
  
form.example button:hover {
    background: #0b7dda;
}
  
  /* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}

#search {
    max-width: 100%;
    width: 40%;
    border: 0;
    border-bottom: 1px solid black;
    font-size: 0.9rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin-top: 8px;
    font-size: 17px;
    background-color: #ADF5FF;
}

form.search-box button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

nav {
    margin-left: 12%;
}

nav a:hover {
    text-decoration: underline;
}

.left-nav {
    padding-left: 14px;
    text-decoration: none;
    color: #481620;
}

.right-nav {
    padding-left: 13.5%;
    text-decoration: none;
    color: #481620;
}

.format {
    margin-left: 13%;
    color: #481620;
}

#box {
    padding: 10px;
    margin-left: 12%;
    margin-right: 45.1%;
}

.about {
    display: inline-block;
    margin-left: 39%;
    margin-bottom: 1%;
}

.about a {
    text-decoration: none;
    padding-left: 4px;
    padding-right: 12px;
    color: #481620;
}

.about a:hover {
    text-decoration: underline;
}
/******************************
           BODY
******************************/
html, body{ height:100%; margin:0; background-color:#A6F4DC;}

body {
    display: flex;
    flex-direction: column;
}

div.disabled {
    overflow: hidden;
}

.content {
    flex: 1 0 auto;   
}

#container {
    position: relative;
    min-height: 100vh;
}

#text {
    margin-left: 12.7%;
    padding-bottom: 10px;
}

.link {
    margin-left: -3.2%;
}

.text1 {
    margin-left: -3.2%;
    margin-top: -0.01%;
    margin-right: 55%;
    margin-bottom: -1%;
}

#stuff {
    margin-left: 13%;
    margin-bottom: 3%;
}

.left a {
    text-decoration: none;
    color: #481620;
}

.right  {
    margin-left: 24%;
    margin-top: -10.9%;    
}

.right a {
    text-decoration: none;
    color: #481620;
}

.format1 {
    margin-left: -4%;
}

.format2 {
    margin-left: -3%;
}

.format3 {
    list-style: none;
    margin-left: -7%;
}

.format4 {
    text-decoration: none;
    list-style: none;
    color: black;
    font: bold 16px sans-serif;
}

.format4:hover {
    text-decoration: underline;
}

.format5 {
    text-decoration: none;
    margin-bottom: 12%;
}

#text a{
    text-decoration: none;
}

.top {
    margin-bottom: -0.1%;
    margin-left: -3.2%;
    color: black;
    font: bold 18px sans-serif;
}

#text ol{
    list-style: none;
}

#text .top:hover {
    text-decoration: underline;
}

#stuff a:hover {
    text-decoration: underline;
}
/******************************
            FOOTER
******************************/
#footer {
    bottom: 0;
    width: 100%;
    height: 4.7rem;
    font: bold 15px sans-serif;            
}

#footer a:hover {
    text-decoration: underline;
}

#footer a {
    text-decoration: none;
    padding-left: 20px;
    
    color: #481620;
}

.fa-map-marker {
    padding-left: 19px;
}

.footer-bottom {
    margin-left: 11.5%;
}

.footer-top {
    margin-left: 10.4%;
}
/******************************
        MEDIA QUERIES
******************************/
/*@media screen and (max-width: 600px) {
    #box {
        float: left;
    }
    .footer-right {
        float: left;
    }
    .footer-left {
        float: right;
    }
    #navbar a{
        float: left;
    }
    #box input[type=text] {
        width: 76%;
    }
    img {
        margin-left: 33%;
        margin-top: 18%;
    }
    #text {
        margin-left: 17%;
    }
}

@media screen and (min-width: 601px) and (max-width: 700px) {
    #box {
        float: left;
    }
    .footer-right {
        float: left;
    }
    .footer-left {
        float: right;
    }
    #box input[type=text] {
        width: 76%;
    }
    img {
        margin-left: 37%;
        margin-top: 17%;
    }
    #text {
        margin-left: 25%;
    }
}

@media screen and (min-width: 300px) and (max-width: 411px) {
    img {
        margin-top: 23%;
        margin-left: 25%;
    }
    #box input[type=text] {
        width: 66%;
        margin-right: 2%;
    }
    #footer {
        height: 6rem;  
    }
    #text {
        margin-top: 30px;
        margin-left: 25.5%;
    }
    #text a{
        text-decoration: none;
        color: black;
        border: 1px solid black; 
        padding: 6px 10px;
        margin-left: 24px;
        background-color: #00FFC5;
        float: left;
        margin-bottom: 13px;
    }
    .footer-bottom a {
        margin-left: 14px;
    }
    .footer-right {
        display: inline-block;
    }
}